<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Liste Permission</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" th:href="@{/styles/globalStyles.css}">
</head>
 
<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${listPerm}" class="container my-5">
                    <p class="my-5">
                        <h3>Liste des Permission</h3>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No record found !!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Raison</th>
                                        <th>Description</th>
                                        <th>Heure Debut</th>
                                        <th>Heure fin</th>
                                        <th>Etat</th>
                                        <th>Permis</th>
                                        <th>Employe </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="permission : ${listPerm}">
                                        <td th:text="${permission.idPerm}"></td>
                                        <td th:text="${permission.raison}"></td>
                                        <td>
                                            <textarea 
                                                disabled
                                                class="form-control" 
                                                th:text="${permission.description}">
                                            </textarea>
                                        </td>
                                        <td th:text="${permission.heureDeb}"></td>
                                        <td th:text="${permission.heureFin}"></td>
                                        <td th:text="${permission.etat}"></td>
                                        <td th:text="${permission.validated}"></td>
                                        <td th:text="${permission.employe.login}"></td>
                                        <td>
                                            <a
                                                    class="row col btn btn-success"
                                                    th:href="@{/responsable/permList/validate_{idPerm}(idPerm=${permission.idPerm})}">
                                                Validate
                                            </a>
                                            <a
                                                    class="row col btn btn-danger"
                                                    th:href="@{/responsable/permList/suspendre_{idPerm}(idPerm=${permission.idPerm})}">
                                                Suspendre
                                            </a>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
        
                    </div>
                </div>
                
            </div>
        </div>
        <input type="text" hidden id="inpTest">
        <div class="back-button">
            <a class="btn btn-primary" th:href="@{/responsable}"><i class="fa fa-arrow-left"></i> </a>
        </div>
    </div>
</body>
 <script th:src="@{/scripts/testPermListRespScript.js}"></script>
</html>